<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bakery1.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,347},{152,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,132}}</string>
			<key>sourceSize</key>
			<string>{152,132}</string>
		</dict>
		<key>barrels.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,794},{100,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,80}}</string>
			<key>sourceSize</key>
			<string>{100,80}</string>
		</dict>
		<key>bench.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,508},{104,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,85}}</string>
			<key>sourceSize</key>
			<string>{104,85}</string>
		</dict>
		<key>bg_shop_items.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,615},{371,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,171}}</string>
			<key>sourceSize</key>
			<string>{371,171}</string>
		</dict>
		<key>birdhouse.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,116},{72,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,109}}</string>
			<key>sourceSize</key>
			<string>{72,109}</string>
		</dict>
		<key>button_plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,448},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>cakeshop1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,612},{139,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,124}}</string>
			<key>sourceSize</key>
			<string>{139,124}</string>
		</dict>
		<key>chicken.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,0},{77,115}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,5},{77,115}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>coffebar1.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,347},{158,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,120}}</string>
			<key>sourceSize</key>
			<string>{158,120}</string>
		</dict>
		<key>cow.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,60},{122,112}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{122,112}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>dairy1.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,345},{162,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,132}}</string>
			<key>sourceSize</key>
			<string>{162,132}</string>
		</dict>
		<key>fence.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,500},{110,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,90}}</string>
			<key>sourceSize</key>
			<string>{110,90}</string>
		</dict>
		<key>flower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,508},{100,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,103}}</string>
			<key>sourceSize</key>
			<string>{100,103}</string>
		</dict>
		<key>flower2.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,508},{100,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,103}}</string>
			<key>sourceSize</key>
			<string>{100,103}</string>
		</dict>
		<key>fontaine.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,508},{90,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,101}}</string>
			<key>sourceSize</key>
			<string>{90,101}</string>
		</dict>
		<key>goat.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,226},{119,122}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{119,122}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>gril1.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,508},{139,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,106}}</string>
			<key>sourceSize</key>
			<string>{139,106}</string>
		</dict>
		<key>hay.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,704},{100,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,89}}</string>
			<key>sourceSize</key>
			<string>{100,89}</string>
		</dict>
		<key>haybox.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,612},{100,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,91}}</string>
			<key>sourceSize</key>
			<string>{100,91}</string>
		</dict>
		<key>hedge.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,347},{100,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,65}}</string>
			<key>sourceSize</key>
			<string>{100,65}</string>
		</dict>
		<key>horseshoes.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,610},{90,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,78}}</string>
			<key>sourceSize</key>
			<string>{90,78}</string>
		</dict>
		<key>icecreammaker1.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,60},{157,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,126}}</string>
			<key>sourceSize</key>
			<string>{157,126}</string>
		</dict>
		<key>icon_diamonds.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,508},{54,56}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{54,56}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>icon_gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,563},{51,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{51,52}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>jammaker1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,226},{146,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,116}}</string>
			<key>sourceSize</key>
			<string>{146,116}</string>
		</dict>
		<key>jelewery1.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,226},{158,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,118}}</string>
			<key>sourceSize</key>
			<string>{158,118}</string>
		</dict>
		<key>juicemaker1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,737},{137,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,110}}</string>
			<key>sourceSize</key>
			<string>{137,110}</string>
		</dict>
		<key>ladybug.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,794},{80,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{80,78}</string>
		</dict>
		<key>lantern.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,615},{80,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,133}}</string>
			<key>sourceSize</key>
			<string>{80,133}</string>
		</dict>
		<key>loom1.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,875},{146,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,113}}</string>
			<key>sourceSize</key>
			<string>{146,113}</string>
		</dict>
		<key>pig.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,116},{124,107}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{124,107}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>restaurant1.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,347},{154,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,132}}</string>
			<key>sourceSize</key>
			<string>{154,132}</string>
		</dict>
		<key>scarecrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,116},{100,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,107}}</string>
			<key>sourceSize</key>
			<string>{100,107}</string>
		</dict>
		<key>sheep.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,224},{121,94}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,23},{121,94}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>smelter1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,508},{152,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,102}}</string>
			<key>sourceSize</key>
			<string>{152,102}</string>
		</dict>
		<key>soupkitchen1.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,875},{153,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,96}}</string>
			<key>sourceSize</key>
			<string>{153,96}</string>
		</dict>
		<key>stonepath.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,226},{120,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,67}}</string>
			<key>sourceSize</key>
			<string>{120,67}</string>
		</dict>
		<key>suggarcrasher1.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,226},{154,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,118}}</string>
			<key>sourceSize</key>
			<string>{154,118}</string>
		</dict>
		<key>windmill1.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,347},{133,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,132}}</string>
			<key>sourceSize</key>
			<string>{133,132}</string>
		</dict>
		<key>xp_bar_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{472,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,59}}</string>
			<key>sourceSize</key>
			<string>{472,59}</string>
		</dict>
		<key>xp_bar_full.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,0},{472,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{472,59}}</string>
			<key>sourceSize</key>
			<string>{472,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>iconBuildingOrig2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>iconBuildingOrig2.png</string>
	</dict>
</dict>
</plist>
